@import 'reset.css';


body{
    width: 1270px;
    margin: 20px 20px 0;
}

p{
    margin-top: 50px;
    font-size: 24px;
}

.menuContainer{
    font-size: 0;
}

.menuItem{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    width: 200px;
    padding: 20px 0;
    background-color: #4C996B;
    border: 1px solid #3F8059;
    position: relative;
}

.menuItem:hover{
    background-color: #3F8059;
}

.dropMenu{
    display: none;
    position: absolute;
}

.dropDownMenu{
    top:100%;
    right: 0px;
}

.dropRightMenu{
    top: 0px;
    left:100%;
}

.menuItem:hover>.dropMenu{
    display: block;
}