body{
    width: 1270px;
    margin: 20px 20px 0;
}

.menuContainer{
    font-size: 0;
}

.menuItem{
    display: inline-block;
    text-align: center;
    font-size: 20px;
    width: 200px;
    padding: 10px 0;
    background-color: cornflowerblue;
    border: 1px solid dodgerblue;
    position: relative;
}

.menuItem:hover{
    background-color: dodgerblue;
}

.categories{
    display: none;
    position: absolute;
    top:100%;
    right: 0px;
}

.menuItem:hover>.categories{
    display: block;
}

.subMenu{
    display:none;
    position: absolute;
    top: 0px;
    left:100%;
}

.menuItem:hover>.subMenu {
    display: block;
}